
/*** footer ***/
#footer {
    width:100%;
    clear:both;
    background-color:#282828;
    border-top:2px solid #F48C19;
    text-align:center;
    margin:auto;
    padding:auto;
} 

#footer a{
    color:#FFFFFF;
}

#footer .footer-content {
    padding-top:5px;
    width:700px;
    margin:auto;
    text-align:center;
    color:#FFFFFF;
}

.footer-column {
    padding:5px;
    margin-right:60px;
    margin-left:60px;
    display:inline-block;
    *display:inline;
    vertical-align:top;
    text-align:left;
}


.footer-column-header {
    padding:5px;
    font-size:14px;
    color:#F48C19;
    font-weight:bold;
}

.footer-column-body {
    font-size:13px;
    padding-left:7px;
    padding-top:7px;
}

.footer-column-body div {
    display:inline-block;
    *display:inline;
    width:65px;
}

#footer-about-us {
    left:0px;
}

#footer .footer-rights {
    font-size:12px;
    height:15px;
    bottom:0px;
    text-align:center;
}

#cnzz {
    float:right;
    width:0px;
    height:0px;
    visibility:hidden;
}


#bk_footer {
    height:120px;
    display:block;
    background-image:url('/static/css/images/bk_footer.png?f4cec8e283fe');
    background-repeat:repeat-x;
    background-position:bottom right;
}





#register {
    margin-top:50px;
    text-align:center;
}

#register .pic {
    display:inline-block;
    *display:inline;
    vertical-align:middle;
    margin-right:80px;
}

#register .main {
    display:inline-block;
    *display:inline;
    vertical-align:middle;
    width:450px;
    height:300px;
    background-image:url('/static/css/images/bk_reg.png?826c5517599e');
    background-repeat:no-repeat;
}

#register .header {
    margin-top:7px;
    height:36px;
    line-height:36px;
    color:#FFFFFF;
    font-size:20px;
    text-align:left;
    padding-left:10px;
}

#register .content {
    padding-left:5px;
    padding-right:5px;
}

#register .form-column {
    width:215px;
    display:inline-block;
    *display:inline;
    vertical-align:top;
}

#register .note {
    height:37px;
    line-height:37px;
    vertical-align:middle;
    text-align:center;
    font-weight:bold;
    font-size:18px;
    margin-bottom:5px;
}

#register .form-field {
    height:40px;
}

#register .form-field div{
    vertical-align:top;
    display:inline-block;
    *display:inline;
    margin:0px;
    padding:0px;
}

#register .form-field .errorlist{
    padding-left:30px;
}

#register .submit {
    margin-left:250px;
    margin-right:20px;
    width:96px;
    height:21px;
}






