{% extends "admin_ext/base/main.jinja" %}

{% block active_nav %}#nav-home{% endblock %}

{% block main %}
<div class="container">
    <div class="hero-unit">
        <h1>欢迎！</h1>
        <p>将来的后台首页。。。</p>
    </div>
</div>
{% endblock %}
