{% extends "admin_ext/base/order_base.jinja" %}

{% block order_active_nav %}#order-nav-home{% endblock %}

{% block order_main %}
<div class="container">
    <div class="hero-unit">
        <h1>订单首页</h1>
        <p>酱油的。。。</p>
    </div>

</div>
{% endblock %}
