
/*** footer ***/
#footer {
    width:100%;
    clear:both;
    background-color:#282828;
    border-top:2px solid #F48C19;
    text-align:center;
    margin:auto;
    padding:auto;
} 

#footer a{
    color:#FFFFFF;
}

#footer .footer-content {
    padding-top:5px;
    width:700px;
    margin:auto;
    text-align:center;
    color:#FFFFFF;
}

.footer-column {
    padding:5px;
    margin-right:60px;
    margin-left:60px;
    display:inline-block;
    *display:inline;
    vertical-align:top;
    text-align:left;
}


.footer-column-header {
    padding:5px;
    font-size:14px;
    color:#F48C19;
    font-weight:bold;
}

.footer-column-body {
    font-size:13px;
    padding-left:7px;
    padding-top:7px;
}

.footer-column-body div {
    display:inline-block;
    *display:inline;
    width:65px;
}

#footer-about-us {
    left:0px;
}

#footer .footer-rights {
    font-size:12px;
    height:15px;
    bottom:0px;
    text-align:center;
}

#cnzz {
    float:right;
    width:0px;
    height:0px;
    visibility:hidden;
}


#bk_footer {
    height:120px;
    display:block;
    background-image:url(images/bk_footer.png);
    background-repeat:repeat-x;
    background-position:bottom right;
}




