{% extends "base/account.jinja" %}
{% block content_main %}
<link href="{{ STATIC_URL }}css/login.css" rel="stylesheet" type="text/css" op="combine" />
<script type='text/javascript' src='{{ STATIC_URL }}js/captcha.js'></script>
<div id="login" class="main-block">
    <div class="pic">
        <img width="300" height="300" src="{{ STATIC_URL }}image/login.jpg"></img>
    </div>
    <div class="main">
        <div class="header">用户登录</div>
        <div class="content">
            <form id="form-login" action="{{ url('user_login') }}" method="post">
                {% csrf_token %}
                <div class="form-field">
                    <div>{{ login_form['username'].label_tag() }}{{ login_form['username'] }}</div>
                    <br>
                    <div class="errorlist">{{ login_form['username'].errors.as_text() }}</div>
                </div> 
                <div class="form-field">
                    <div>{{ login_form['password'].label_tag() }}{{ login_form['password'] }}</div>
                    <br>
                    <div class="errorlist">{{ login_form['password'].errors.as_text() }}</div>
                </div>
                <div class="form-field">
                    <div>{{ login_form['captcha'].label_tag() }}{{ login_form['captcha'] }}</div>
                    <br>
                    <div class="errorlist">{{ login_form['captcha'].errors.as_text() }}</div>
                </div>
                <div>
                    <div class="btn submit" onClick="$('#form-login').submit();">{{ string("登录") }}</div>
                    <div class="submit-adv"><a href="{{ url('user_register') }}">{{ string("还没注册？快点这里！") }}</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

