{% extends "base/base.jinja" %}

{% block content_main %}
<div class="main-content">
    <br>
    <h2>二手书保证</h2>
    <p>我们希望书麦麦的二手书是最优质的，并且我们以此为目标不断努力改进，但由于网站现阶段技术尚不成熟，我们仅能保证书麦麦的二手教材基本都是可用的，并做以下承诺：</p>
    <ul>
        <li>在书麦麦网站上销售的所有大学教材，如无特别注明，均默认为二手教材；</li>
        <li>书麦麦网站售出的二手教材均会带有网站特有的二手书标记；</li>
        <li>书麦麦网站上销售的二手教材一律不分新旧程度；</li>
        <li>若某本教材二手书无库存，客服员工将另行通知消费者；</li>
        <li>书麦麦网站负责二手教材的回收再销售，但无法保证所有进行回收再销售的二手教材均完好无损；</li>
        <li>网站员工对所有经手的二手教材均进行过检测，清洁等妥善处理，以确保图书无严重污损、缺页；</li>
        <li>对于所出售的二手教材，书麦麦仅保证教材的破损程度不影响读者正常阅读使用；不保证所售的二手教材均完好如初。</li>
        <li>网站“就爱阅读”栏目下的精选日常图书，如无特别注明，均默认为全新图书；若为二手图书则会于封面做特别注明。
    </ul>
    <br>
    <p>本网站对上述承诺保留最终解释权。</p>
</div>
{% include 'block/footer_adv.jinja' %}
{% endblock %}
