{% extends "base/base.jinja" %}

{% block content_main %}
<div class="main-content">
    <br>
    <h2>工作机会</h2>
    <h4>兼职员工</h4>
    <p>应聘对象：上海海事大学、上海海洋大学、上海电机学院三校学生。</p>
    <p>职位要求：诚信，踏实，求知欲强，沟通能力强。</p>
    <br>
    <p>工资：根据具体工作内容及工时面议。</p>
    <p>工作时间：因人而异。</p>
    <br>
    <p>简历投递邮箱：shumaimai_service@163.com</p>
    <p>邮件主题注明：应聘+应聘人姓名</p>
    <p>简历中请包含：</p>
    <ul>
        <li>大学四年你希望收获什么</li>
        <li>个人专业、课程表及可工作时间段</li>
    </ul>
</div>
{% include 'block/footer_adv.jinja' %}
{% endblock %}
