{% extends "base/base.jinja" %}

{% block content_main %}
<div class="main-content">
    <br>
    <h2>联系我们</h2>
    <p>联系邮箱：shumaimai_service@163.com</p>
    <p>联系电话：1381-6436-147</p>
    <br>
    <p>请在邮件中简短地说明您的要求，并留下联系方式。</p>
    <p>我们将尽快与您联系。</p>
</div>
{% include 'block/footer_adv.jinja' %}
{% endblock %}
