{% extends "base/base.jinja" %}

{% block content_main %}
<div class="main-content">
    <br>
    <p>书麦麦（www.shumaimai.cn）是临港地区最大的在线校园二手书店。我们致力于为临港大学城的大学生提供最棒的校园购书体验，这就意味着我们需要提供以下三点并努力做到最好：</p>
    <ul>
        <li>最划算的教材——在书麦麦上有上千种教材及二手教材，并均通过书麦麦检测、清洁。</li>
        <li>最简单的网上购物方式——在书麦麦买书只需要3步，不注册同样很简单！</li>
        <li>最便捷的线下支付——自营物流，并且支持货到付款，直接送货至用户楼下。</li>
    </ul>
    <br>
    <p>书麦麦不同于亚马逊或京东的“大而全”，除教材外我们严格管理网站销售的图书种类，所有在线销售的非教材类图书均为麦麦精心挑选的值得一读的好书。我们也欢迎爱书的同学通过微博和邮件与我们交流读书的心得、推荐好书，并与更多人进行分享。</p>
    <br>
    <p>书麦麦与学校及各种学生组织拥有相同的愿景，即希望“使大学生的阅读生活更加丰富并有意义”，各方均以此为目标，并在多个方面进行合作，使我们能够更了解大学生群体，关注大学生群体，服务大学生群体。</p>
    <br>
    <p>此外，书麦麦也是倡导“减少纸张浪费，保护森林人人有责”的践行者。我们在工作中从自身做起，尽量减少纸张浪费，努力实现“办公无纸化”。同时，书麦麦也积极参与各类公益活动，承担相应的社区责任，为“绿色地球”献出自己的一份力。</p>
</div>
{% include 'block/footer_adv.jinja' %}
{% endblock %}
