{% extends "base/base.jinja" %}

{% block content_main %}
<div class="main-content">
    <br>
    <h2>我要卖书</h2>
    <p>一本教材买来一个学期没翻几页？</p>
    <p>花了好几个大洋买来的教材考完试就没用了？</p>
    <p>用过的教材没地方处理只能放寝室里积灰？</p>
    <p>还是习惯把教材堆到毕业然后才随意处理？</p>
    <br>
    <p><strong>书麦麦帮你养成及时卖书及时获益的好习惯。</strong></p>
    <br>
    <p>第一步：</p>
    <p>在浏览器地址栏中输入http://shumaimai.cn</p>
    <p><img width="900" src="{{ STATIC_URL }}image/footer_sell_1.jpg"></img></p>
    <br>
    <p>第二步：</p>
    <p>点击首页的卖书按钮，弹出“卖书服务对话框”。</p>
    <p>留下你的联系电话和寝室地址，然后点击“确认无误”按钮提交信息。</p>
    <p><img width="900" src="{{ STATIC_URL }}image/footer_sell_2.jpg"></img></p>
    <br>
    <p><strong>OK!</strong></p>
    <br>
    <h3>其他收书方式</h3>
    <p>收书电话：1381-6436-147</p>
    <p>网站微博：http://weibo.com/shumaimaicn（请私信之）</p>
</div>
{% include 'block/footer_adv.jinja' %}
{% endblock %}
