{% extends "base/base.jinja" %}

{% block content_main %}
<div class="main-content">
    <br>
    <h2>联系我们</h2>
    <p>二手书自签收起，5天内退换货。</p>
    <p>新书自签收起，7天内退换货。</p>
    <br>
    <p>退换货原因：明显缺页或污损导致图书部分内容无法阅读。</p>
    <br>
    <p>消费者须将赠品和收据一并退回。</p>
    <br>
    <p>如遇其他问题，请联系客服。</p>
</div>
{% include 'block/footer_adv.jinja' %}
{% endblock %}
