/*
 * login page css
 */

.login-form {
    width:320px;
    margin-top:50px;
}

.login-form .control-label {
    width:70px;
}

.login-form .controls {
    margin-left:90px;
}

.login-form-errors {
    text-align:center;
    width:300px;
    margin:auto;
}


