DEBUG = True
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'book', 
        'USER': 'root',         
        'PASSWORD': 'test',    
        'HOST': '',                     
        'PORT': '',                    
    }
}
ADMINS = (
    # ('Your Name', 'your_email@example.com'),
)
