<br>
<br>
<div class="main-content text-left">
    <p>我们每天都希望为身处校园的你提供最简单、方便、划算的校园买书体验。</p>
    <p>如果你喜欢我们，也请记得和室友们、朋友们分享：</p>
    <h2>书麦麦——寝室里的校园二手书店</h2>
    <p><a href="http://weibo.com/shumaimaicn">点击这里，微博关注我们。</a></p>
</div>
