<link href="{{ STATIC_URL }}css/header.css" rel="stylesheet" type="text/css" op="combine" />

<div id="header">
    <div class="logo">
        <img src="{{ STATIC_URL }}image/logo.jpg" height="60" onClick="
             window.location.href='{{ url('index') }}';
             "
             ></img>
    </div>
    <div id="search-bar">
        {% from 'base/search_forms.jinja' import search_form with context %}
        {{ search_form(510) }}
        <div id="hot-search">
            <span>{{ string("热门搜索：") }}</span>
            {% for hot_keyword in ["线性代数", "工程力学",  "大学物理"] %}
            <span>{{ string(" ") }}</span>
            <a href={{ search(hot_keyword) }}>{{ string(hot_keyword) }}</a>
            {% endfor %}

        </div>
    </div>
    <div class="function" 
        onClick="setTimeout(sellframeshow, 1);" 
        onMouseOver="$(this).changeBackgroundImage('{{ STATIC_URL }}css/images/btn_main_down.png');"
        onMouseOut="$(this).changeBackgroundImage('{{ STATIC_URL }}css/images/btn_main.png');"
        >
        <img src="{{ STATIC_URL }}image/sell_logo.png" height="17"></img>
        <span>卖书</span>
    </div>
    <div class="function" onClick="setTimeout(buybehalfframeshow, 1);"
        onMouseOver="$(this).changeBackgroundImage('{{ STATIC_URL }}css/images/btn_main_down.png');"
        onMouseOut="$(this).changeBackgroundImage('{{ STATIC_URL }}css/images/btn_main.png');"
        >
        <img src="{{ STATIC_URL }}image/subs_logo.png" height="18"></img>
        <span>代购</span>
    </div>
</div>