{% extends "base/base.jinja" %}

{% block head %}
<link href="{{ STATIC_URL }}css/comment.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src = "{{ STATIC_URL }}js/advertise.js"></script>
{% endblock %}

{% block content_main %}
<div id='leftdiv'>
    <br><br>
    <div id='bottomdiv'>
        <div id='titlediv2'>
            <div id='namediv2'>{{advertise.title}}</div>
            <div id='agreediv'>
                <a onclick='ajaxAgree({{advertise.id}})' class='agreeA agree{{advertise.id}}'>
                                            赞美他[{{advertise.agree}}]</a>&nbsp;&nbsp;&nbsp;
                <a onclick='ajaxDisagree({{advertise.id}})' class='disagreeA disagree{{advertise.id}}'>
                                            学习他[{{advertise.disagree}}]</a>
            </div>
            <div id='backdiv'><a href='/advertise/advertiseshow/?activity={{advertise.activity}}'>[回到活动首页]</a></div>
        </div>
        <div id='authordiv'>
            {{get_day(advertise.time)}}&nbsp;&nbsp;&nbsp;{{advertise.author}}
        </div>
        <div id='textdiv2'>{{advertise.context}}</div>
        <br><br>
        <div class='commentimgdiv'><img src="{{ STATIC_URL }}image/ad{{advertise.id}}.jpg"></div>
        <br>
        <div>
            <a onclick='ajaxAgree({{advertise.id}})' class='agreeA agree{{advertise.id}}'>
                                赞美他[{{advertise.agree}}]</a>&nbsp;&nbsp;&nbsp;
            <a onclick='ajaxDisagree({{advertise.id}})' class='disagreeA disagree{{advertise.id}}'>
                                学习他[{{advertise.disagree}}]</a>
        </div>
        <br><hr><br>
        {% include 'block/message.jinja' %}
    </div>
</div>
<div id='rightdiv'>
    <br><br>
    <div id='right_back'>
        <div id='right_top'>海大雷锋日记</div>
        <br>
        {% for right in right_five %}
        <div id='right_down'>
            <img src="{{ STATIC_URL }}image/ad{{right.id}}.jpg" class='imgFive'>
            <a class='right_text' href='/advertise/commentshow/?advertiseid={{right.id}}'>
                {{right.title}}
            </a>
            <div class='right_text'>{{right.author}}</div>
            <div class='right_text'>{{get_day(right.time)}}</div>
            <div class='right_text'>
                <a onclick='ajaxAgree({{right.id}})' class='agreeA agree{{right.id}}'>
                                    赞美他[{{right.agree}}]</a>
            </div>
            <div class='right_text'>
                <a onclick='ajaxDisagree({{right.id}})' class='disagreeA disagree{{right.id}}'>
                                    学习他[{{right.disagree}}]</a>
            </div>
        </div>
        <br>
        {% endfor%}
       </div>
</div>
{% endblock %}