{% extends "admin_ext/base/main.jinja" %}

{% block active_nav %}#nav-order{% endblock %}

{% block main %}
{% if user.is_superuser %}
<script type="text/javascript">
    $(function(){
            $('{% block order_active_nav %}#order-nav-home{% endblock %}').addClass('active');
    });
</script>
<div class="container">
    <ul class="nav nav-tabs">
        <li id="order-nav-home">
            <a href="{{ url('admin_order_home') }}">{{ string('订单首页') }}</a>
        </li>
        <li id="order-nav-buy">
            <a href="{{ url('admin_order_buy_list') }}">{{ string('销售订单') }}</a>
        </li>
        <li id="order-nav-sell">
            <a href="{{ url('admin_order_sell_list') }}">{{ string('收书订单') }}</a>
        </li>
        <li id="order-nav-download">
            <a href="{{ url('admin_order_download') }}">{{ string('下载订单') }}</a>
        </li>
    </ul>
    {% block order_main %}{% endblock %}
</div>
{% else %}
<div class="container">
    <div class="hero-unit">
        <p>您没有权限访问此页面。请与管理员联系。</p>
    </div>
</div>
{% endif %}
{% endblock %}
